@model IEnumerable<Hukuk.Takip.Sistemi.Web.Models.Ihtar.IhtarIzlemeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div style="position: absolute; left:0px;width:1800px; margin-top:30px">
    <div style="margin-left:76px">
        <h2>İhtar Listesi</h2><br />
        <p>
            <input type="button" class="btn btn-success btn-group-lg" value="İhtar Ekle" onclick="location.href='@Url.Action("Index", "IhtarEkleme")'" />
        </p>

    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="invisible">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MusteriNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soyad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoterAd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TakipHesapNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IhtarTarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IhtarTebligTarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IhtarTutar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YevmiyeNo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="invisible">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MusteriNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoterAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakipHesapNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IhtarTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IhtarTebligTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IhtarTutar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YevmiyeNo)
                    </td>
                    <td>
                        @*<form>
                                <p>
                                    <input type="submit" value="Edit" class="btn btn-success btn-group-lg" asp-action="Edit" formmethod="get" asp-controller="IhtarGuncelleme" ><br />
                                </p>
                            </form>*@
                        <input type="button" class="btn btn-success btn-group-sm" value="Güncelle" onclick="location.href='@Url.Action("Edit", "IhtarGuncelleme",new {id=item.Id })'" />
                        <input type="button" class="btn btn-success btn-group-sm" value="Detay" onclick="location.href='@Url.Action("Index", "IhtarUrunIzleme",new {id=item.Id })'" />
                        @*@Html.ActionLink("Edit", "Edit", "IhtarGuncelleme", new { id = item.Id }) |*@
                        @*@Html.ActionLink("Details", "Index", "IhtarUrunIzleme", new { id = item.Id })*@
                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>