@model IEnumerable<Hukuk.Takip.Sistemi.Web.Models.MusteriUrun.MusteriUrunIzlemeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*style=" height:700px !important; width:1400px !important; overflow-y: auto !important"*@

<div style="position: absolute; left:0px;width:1800px !important; overflow-y: auto !important">
    <div style="margin-left:30px">
        <h2>Müşteri Ürün Listesi</h2><br />
        <p>
            <input type="button" class="btn btn-success btn-group-lg" value="Müşteri Ürün Ekle" onclick="location.href='@Url.Action("Index", "MusteriUrunEkleme")'" />
        </p>

    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="invisible">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.MusteriNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soyad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UrunAd)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.UrunTipKod)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.TakipSubeKod)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.TakipSubeAd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TakipHesapNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TakipTutar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParaBirimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TakipTarihi)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.MasrafSubeKodu)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.MasrafSubeAd)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.MasrafHesap)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.MasrafTutar)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.FaizSubeKod)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.FaizSubeAd)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.FaizHesap)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.FaizTutar)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ErtelemeVarMi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OnErteleme)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.UrunDurumu)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="invisible">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MusteriNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UrunAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UrunTipKod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakipSubeKod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakipSubeAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakipHesapNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakipTutar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParaBirimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakipTarihi)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.MasrafSubeKodu)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.MasrafSubeAd)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.MasrafHesap)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.MasrafTutar)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.FaizSubeKod)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FaizSubeAd)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.FaizHesap)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FaizTutar)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ErtelemeVarMi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnErteleme)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.UrunDurumu)
                    </td>*@
                    <td>
                        <input type="button" class="btn btn-success btn-group-xs" value="Güncelle" onclick="location.href='@Url.Action("Edit", "MusteriUrunGuncelleme",new {id=item.Id })'" />
                        <input type="button" class="btn btn-success btn-group-xs" value="Avukat Atama" onclick="location.href='@Url.Action("Edit", "AvukatAtananUrunEkleme",new {id=item.Id })'" />
                      </td>
                </tr>
            }
        </tbody>
    </table>
</div>